server:
  port: 8081
spring:
  application:
    name: qsld
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/leshidianping?useSSL=false&serverTimezone=UTC
    username: root
    password: fang288591.
  redis:
    host: 192.168.220.132
    port: 6379
    password: 6379
    lettuce:
      pool:
        max-active: 10
        max-idle: 10
        min-idle: 1
        time-between-eviction-runs: 10s
    database: 1
  jackson:
    default-property-inclusion: non_null # JSON处理时忽略非空字段
  rabbitmq:
    host: 192.168.220.132
    port: 5672
    username: guest
    password: guest
    listener:
      simple:
        prefetch: 1
    virtual-host: /
mybatis-plus:
  type-aliases-package: com.qsld.entity # 别名扫描包
logging:
  level:
    com.qsld: debug